<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (page === title) { %>
        <title><%= title %></title>
    <% } else if (typeof title === "undefined" || !title) { %>
        <title><%= page %></title>
    <% } else { %>
        <title><%= page %>, <%= title %></title>
    <% } %>
    <link rel="stylesheet" href="/style/doodle.css">
</head>